<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaojl.core.dao.SysLogDao">
   <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, login_name AS loginName, role_name AS roleName, opt_content AS optContent, client_ip AS clientIp, create_time AS createTime
    </sql>

    <select id="selectSysLogList" resultType="org.xiaojl.core.model.SysLog">
        select
        <include refid="Base_Column_List" />
        from sys_log 
        where 1=1
        <if test="loginName!=null and loginName!=''">
        	and login_name like #{loginName}
        </if>
        <if test="roleName !=null and roleName !=''">
        	and role_name like #{roleName}
        </if>
        <if test="optContent !=null and optContent !=''">
        	and opt_content like #{optContent}
        </if>
        <if test="clientIp !=null and clientIp !=''">
        	and client_ip like #{clientIp}
        </if>
        <if test="createDateStart != null">
        	<![CDATA[ and create_time >= #{createDateStart} ]]>
        </if>
        <if test="createDateEnd !=null " >
        	<![CDATA[ and create_time <= #{createDateEnd} ]]>
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>