<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrganizationMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into SYS_ORGANIZATION(
			CODE,	
			FULL_NAME,	
			SHORT_NAME,	
			CRATE_TIME,	
			CREATE_ACCOUNT,	
			CREATE_NAME,	
			CREATE_ORGANIZATION,	
			ORGANIZATION_ID
		) values (
			#{CODE},	
			#{FULL_NAME},	
			#{SHORT_NAME},	
			#{CRATE_TIME},	
			#{CREATE_ACCOUNT},	
			#{CREATE_NAME},	
			#{CREATE_ORGANIZATION},	
			#{ORGANIZATION_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from SYS_ORGANIZATION
		where 
			ORGANIZATION_ID = #{ORGANIZATION_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  SYS_ORGANIZATION
			set 
				CODE = #{CODE},
				FULL_NAME = #{FULL_NAME},
				SHORT_NAME = #{SHORT_NAME},
			ORGANIZATION_ID = ORGANIZATION_ID
			where 
				ORGANIZATION_ID = #{ORGANIZATION_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CODE,	
			FULL_NAME,	
			SHORT_NAME,	
			CRATE_TIME,	
			CREATE_ACCOUNT,	
			CREATE_NAME,	
			CREATE_ORGANIZATION,	
			ORGANIZATION_ID
		from 
			SYS_ORGANIZATION
		where 
			ORGANIZATION_ID = #{ORGANIZATION_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CODE,	
				a.FULL_NAME,	
				a.SHORT_NAME,	
				a.CRATE_TIME,	
				a.CREATE_ACCOUNT,	
				a.CREATE_NAME,	
				a.CREATE_ORGANIZATION,	
				a.ORGANIZATION_ID
		from 
				SYS_ORGANIZATION a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CODE,	
				a.FULL_NAME,	
				a.SHORT_NAME,	
				a.CRATE_TIME,	
				a.CREATE_ACCOUNT,	
				a.CREATE_NAME,	
				a.CREATE_ORGANIZATION,	
				a.ORGANIZATION_ID
		from 
				SYS_ORGANIZATION a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from SYS_ORGANIZATION
		where 
			ORGANIZATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>