<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="T2Mapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_T2(
			NAME,	
			AGE,	
			CREATE_TIME,	
			CREATE_ACCOUNT,	
			CREATE_NAME,	
			CREATE_ORGANIZATION,	
			T2_ID
		) values (
			#{NAME},	
			#{AGE},	
			#{CREATE_TIME},	
			#{CREATE_ACCOUNT},	
			#{CREATE_NAME},	
			#{CREATE_ORGANIZATION},	
			#{T2_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_T2
		where 
			T2_ID = #{T2_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_T2
			set 
				NAME = #{NAME},
				AGE = #{AGE},
			T2_ID = T2_ID
			where 
				T2_ID = #{T2_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			AGE,	
			CREATE_TIME,	
			CREATE_ACCOUNT,	
			CREATE_NAME,	
			CREATE_ORGANIZATION,	
			T2_ID
		from 
			TB_T2
		where 
			T2_ID = #{T2_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,
				a.AGE,
				a.CREATE_TIME,
				a.CREATE_ACCOUNT,
				a.CREATE_NAME,
				a.CREATE_ORGANIZATION,
				a.T2_ID
		from 
				TB_T2 a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
					a.NAME,
					a.AGE,
					a.CREATE_TIME,
					a.CREATE_ACCOUNT,
					a.CREATE_NAME,
					a.CREATE_ORGANIZATION,
				a.T2_ID
		from 
				TB_T2 a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_T2
		where 
			T2_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>