<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiaojl.core.dao.OrganizationDao">
    
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, address, code, icon, pid, seq, create_time AS createTime
    </sql>
	
	<select id="selectListByPid" resultType="org.xiaojl.core.model.Organization">
		select 
		<include refid="Base_Column_List" />
		from organization
		where 1=1 
		<if test="pid != null and pid != ''">
			and pid=#{pid}
		</if>
	</select>
	
	<select id="selectAll" resultType="org.xiaojl.core.model.Organization">
		select 
		<include refid="Base_Column_List" />
		from organization
		order by seq
	</select>
	
	<select id="selectByName" resultType="org.xiaojl.core.model.Organization">
		select 
		<include refid="Base_Column_List" />
		from organization where name=#{name}
	</select>
	
	<select id="selectByCode" resultType="org.xiaojl.core.model.Organization">
		select 
		<include refid="Base_Column_List" />
		from organization where code=#{code}
	</select>
	
	
</mapper>